<!DOCTYPE html>
<html ng-app="myApp">
<head ng-controller="hotelRooms">
    <title>Hotel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/hotel.css">

    <script src="../bower_components/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="../bower_components/ng-file-upload-shim/angular-file-upload-shim.min.js"></script>
    <script src="../bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="../bower_components/filepicker-js/filepicker.js"></script>
    <script src="../bower_components/angular-filepicker/dist/angular_filepicker.js"></script>



    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"> </script>
    <script src="/javascripts/hotelController.js"></script>


</head>
<body>
<div class="row">
    <div class="col-sm-2">
        <div id="logo">
            <div class="block" style="padding-top: 20px;"><p>EPickPlace</p></div>
            <div class="block"><p>hosting</p></div>
        </div>
        <div id="menu">

            <div class="row-hg-2">setup everything in 4 easy  steps</div>
            <a href="#/rooms"><div class="row-hg-2" ng-click="setTitle('Rooms')" id="first"><p class="menuitem">Rooms</p></div></a>
            <a href="#/amenities"><div class="row-hg-2" id="second" ng-click="setTitle('Price')"><p class="menuitem">Amenities</p></div></a>
            <a href="#/pictures"><div class="row-hg-2" id="third" ng-click="setTitle('Amenities')"><p class="menuitem">Pictures</p></div></a>
            <a href="/host/contact"><div class="row-hg-2" id="forth" ng-click="setTitle('Pictures')"><p class="menuitem">Contact</p></div></a>
        </div>
    </div>
    <div class="col-sm-10">



            <ng-view></ng-view>



    </div>
</div>

</body>


</html>