<html>
<head>

    <script src="/node/ng-file-upload/dist/ng-file-upload.js"></script>
</head>
<body>

    <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
         ngf-accept="'image/*'">Select</div>

</body>

</html>