<div id="container">
    <div class="row rowcover">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="3">
                <ul>
                    <li id="cov" ng-repeat="album in albums_cover track by $index">
                        <div class="album">
                            <img ng-src="{{(album.pictures|cover).url}}" ng-click="showModal($index)" />
                            <div>
                                <span ng-bind="album.location"></span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-2" id="cl2">
            <div id="arrows" ng-click="animation()">
                <a class='boo' ></a>
                <a class='boo' style="margin-left: 5px;"></a>
            </div>
            <div id="panel" ng-style="{height:height}">
                <div id="content">
                    <div id="arrows" ng-click="animation()">
                        <a class='booleft' ></a>
                        <a class='booleft' style="margin-left: 5px;"></a>
                    </div>
                    <p>Click on a continent</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->

<div class="modal fade" id="modalPictures" tabindex="-1" role="dialog" aria-labelledby="modalOneLabel" >

    <div class="modal-dialog" style="width:100%;height:100%;margin:0px">

        <div class="modal-content  bg-info" style="width:100%;height:100%" >
            <div class="modal-body"  style="overflow: auto;width:100%;height:100%;background-color: rgba(1,1,1,0.8)">

        <div class="row presentation" key right="rollright()" left="rollleft()">
            <div id="header" ng-style="{visibility:vis}"><p id="title">{{album_title}}</p>
                <span id="plan" ng-show="hoverEdit" class="animate-show">
               <p>Plan a trip</p>
             </span>
              <img ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" id="plane" ng-click="openPlanatrip()" src="/images/paper_airplane_silver.png">

                </img>

            </div>
            <div class="col-md-2 mod">
                <a class='boodis1' ng-click="rollleft()"></a>
            </div>
            <div class="col-md-8 mod" touchscreen>
                <div class="row-hg-8">

                    <div class="responsive-container">
                        <div class="dummy"></div>
                            <div class="img-container">
                                <img ng-src="{{displayed_picture}}">

                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mod" ><a class='boodis2' ng-click="rollright()"></a></div>
                <div id="bottom" ng-style="{visibility:vis}"><p>{{description}}</p></div>
            <key></key>
        </div>

            </div>
        </div>


    </div>
</div>
</div>